$mobile-width: 375px;
$desktop-width: 1440px;

$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

$font-family: "Spartan", sans-serif;
$font-weight-1: 500;
$font-weight-2: 600;
$font-weight-3: 700;

body {
}
