body {
  font-family: "Spartan", sans-serif;
}

p {
  margin-bottom: 40px;
  color: #a1a1a1;
  line-height: 2rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
}

nav.nav-view-default {
  z-index: 1000;
  width: 100%;
  position: absolute;
  margin-top: 30px;
  color: white;
}

nav.nav-view-default ul > li.nav-link {
  display: none;
}

@media (min-width: 1000px) {
  nav.nav-view-default {
    width: auto;
  }
  nav.nav-view-default ul > li.nav-link {
    display: list-item;
    padding-bottom: 10px;
  }
  nav.nav-view-default ul > li.nav-link:hover {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
  }
}

nav.nav-view-clicked {
  z-index: 1000;
  width: 100%;
  position: absolute;
  margin-top: 0;
  background-color: white;
  color: #454545;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav.nav-view-clicked li:last-child {
  margin-right: 10%;
}

nav.nav-view-clicked .shop-name {
  display: none;
}

nav > ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav > ul > li {
  margin-right: 20px;
  font-size: 14px;
}

nav > ul > li.shop-name {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

@media (min-width: 1000px) {
  nav > ul > li.shop-name {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  nav > ul > li.mobile-menu-button {
    display: none;
  }
}

h1,
h2 {
  color: #454545;
}

.shop-now {
  color: #454545;
  text-decoration: none;
  letter-spacing: 10px;
  -webkit-transition-property: letter-spacing;
  transition-property: letter-spacing;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.shop-now:hover {
  color: #a1a1a1;
  letter-spacing: 18px;
}

.no-display {
  display: none;
}

.page-text-container {
  margin: 40px 20px 40px;
}

@media (min-width: 1000px) {
  .page-text-container {
    margin: 40px 50px 50px;
  }
}

.about-text-container {
  margin: 40px 20px 40px;
}

@media (min-width: 1000px) {
  .about-text-container {
    margin: 80px 70px 50px;
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-1 {
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1000px) {
  .main-1 {
    width: 58%;
    min-height: 500px;
    background-image: url("./images/desktop-image-hero-1.jpg");
    background-position: center;
  }
}

.main-2 {
  position: relative;
}

@media (min-width: 1000px) {
  .main-2 {
    width: 42%;
  }
}

.navigation-buttons-container-mobile {
  width: 120px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1000px) {
  .navigation-buttons-container-mobile {
    display: none;
  }
}

#navigation-button-left-mobile {
  background-color: black;
  width: 50%;
  background-image: url("./images/icon-angle-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#navigation-button-right-mobile {
  background-color: black;
  width: 50%;
  background-image: url("./images/icon-angle-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-buttons-container-desktop {
  display: none;
}

@media (min-width: 1000px) {
  .navigation-buttons-container-desktop {
    height: 13%;
    width: 28.6%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#navigation-button-left-desktop,
#navigation-button-right-desktop {
  background-color: black;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#navigation-button-left-desktop:hover,
#navigation-button-right-desktop:hover {
  background-color: #454545;
}

#navigation-button-left-desktop {
  background-image: url("./images/icon-angle-left.svg");
}

#navigation-button-right-desktop {
  background-image: url("./images/icon-angle-right.svg");
}

.main-3 {
  width: 100%;
  min-height: 300px;
  background-image: url("./images/image-about-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1000px) {
  .main-3 {
    width: 30%;
  }
}

@media (min-width: 1000px) {
  .main-4 {
    width: 40%;
  }
}

.main-5 {
  width: 100%;
  min-height: 300px;
  background-image: url("./images/image-about-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1000px) {
  .main-5 {
    width: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */