body {
  font-family: "Spartan", sans-serif;
}

p {
  margin-bottom: 40px;
  color: #a1a1a1;
  line-height: 2rem;
}

nav {
  width: 100%;
  position: absolute;
  margin-top: 30px;
}

@media (min-width: 1000px) {
  nav {
    width: auto;
    margin-top: 30px;
  }
}

nav > ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav > ul > li {
  margin-right: 20px;
  font-size: 14px;
  color: white;
}

nav > ul > li.shop-name {
  font-size: 25px;
  font-weight: 600;
}

@media (min-width: 1000px) {
  nav > ul > li.shop-name {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  nav > ul > li.burger-menu {
    display: none;
  }
}

nav > ul > li.nav-link {
  display: none;
}

@media (min-width: 1000px) {
  nav > ul > li.nav-link {
    display: list-item;
  }
}

h1,
h2 {
  color: #454545;
}

.shop-now {
  color: #454545;
  text-decoration: none;
  letter-spacing: 10px;
}

.no-display {
  display: none;
}

.page-text-container {
  margin: 40px 20px 40px;
}

@media (min-width: 1000px) {
  .page-text-container {
    margin: 40px 50px 50px;
  }
}

.about-text-container {
  margin: 40px 20px 40px;
}

@media (min-width: 1000px) {
  .about-text-container {
    margin: 80px 70px 50px;
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-1 {
  min-height: 500px;
  background-image: url("./images/mobile-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1000px) {
  .main-1 {
    width: 58%;
    min-height: 500px;
    background-image: url("./images/desktop-image-hero-1.jpg");
    background-position: center;
  }
}

.main-2 {
  position: relative;
}

@media (min-width: 1000px) {
  .main-2 {
    width: 42%;
  }
}

.navigation-buttons-container {
  height: 13%;
  width: 28.6%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigation-button-left {
  background-color: black;
  width: 50%;
  background-image: url("./images/icon-angle-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#navigation-button-right {
  background-color: black;
  width: 50%;
  background-image: url("./images/icon-angle-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-3 {
  width: 100%;
  min-height: 300px;
  background-image: url("./images/image-about-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1000px) {
  .main-3 {
    width: 30%;
  }
}

@media (min-width: 1000px) {
  .main-4 {
    width: 40%;
  }
}

.main-5 {
  width: 100%;
  min-height: 300px;
  background-image: url("./images/image-about-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1000px) {
  .main-5 {
    width: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */